*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
}

/* Navbar */

header{
    height:65px;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
}

.logo img{
    height:66px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:40px;
}

nav ul li a{
    text-decoration:none;
    color:#111;
    font-size:15px;
    font-weight:500;
}

.book{
    padding:12px 19px;
    background:#066412;
    color:white;
    border:none;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
}

.hero{
    height:56vh;
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)),url("n5.jpeg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
}

.content{
    width:50%;
    margin-left:70px;
    color:white;
}

.content h1{
    font-size:80px;
    line-height:90px;
}

.content p{
    margin-top:25px;
    font-size:24px;
    line-height:40px;
}

.btns{
    margin-top:40px;
}

.btn1{
    padding:18px 35px;
    background:#066412;
    border:none;
    color:white;
    border-radius:8px;
    font-size:18px;
    margin-right:15px;
}

.btn2{
    padding:18px 35px;
    background:transparent;
    border:2px solid white;
    color:white;
    border-radius:8px;
    font-size:18px;

}


.features{
    width:100%;
    padding:0px 60px;
    background:#d7d7d7;
}

.features h4{
    color:#2563eb;
    text-align:center;
    margin-bottom:15px;
    letter-spacing:2px;
}

.features h2{
    text-align:center;
    font-size:50px;
    color:#1e293b;
    margin-bottom:50px;
}

.cards{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    width:23%;
    min-width:250px;
    padding:35px;
    border-radius:12px;
    text-align:center;
}

.icon{
    width:80px;
    height:80px;
    border-radius:50%;
    margin:auto;
    color:white;
    font-size:35px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.blue{
    background:#2563eb;
}

.green{
    background:#22c55e;
}

.orange{
    background:#f59e0b;
}

.purple{
    background:#8b5cf6;
}

.card h3{
    margin-top:20px;
    margin-bottom:15px;
    color:#1e293b;
}

.card p{
    color:#555;
    line-height:28px;
}

@media(max-width:900px){

    header{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .content{
        width:90%;
        margin-left:20px;
    }

    .content h1{
        font-size:50px;
        line-height:60px;
    }

    .cards{
        justify-content:center;
    }

    .card{
        width:90%;
    }
}

ion-icon{
	color: red ;
}